@import "variables";

.error-text {
  font-size: 0.8rem;
  color: $color-error;
}

.bold-text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: $color-text;
}
