@import "src/styles/variables";

.Container {
  padding: $spacer-4;
  display: flex;
  align-items: flex-start;
  background-color: $color-background-light;
  box-shadow: $shadow-default;
}

.Field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: $spacer-3;
}

.Input {
  border-radius: $border-radius;
  border: none;
  height: 2.25rem;
  background-image: url('../../assets/search.svg');
  background-color: $color-input-background;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
  padding: 0.5rem $spacer-2 0.5rem $spacer-5;
}

.Error {
  margin-top: $spacer-2;
  text-align: right;
}
