@import "src/styles/variables";

.Container {
  padding: $spacer-4;
  display: flex;
  background-color: $color-background-light;
  box-shadow: $shadow-default;
}

.Input {
  border-radius: $border-radius;
  border: none;
  height: 2.25rem;
  margin-right: $spacer-3;
  background-image: url('../../assets/search.svg');
  background-color: $color-input-background;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
  padding: 0.5rem $spacer-2 0.5rem $spacer-5;
  flex-grow: 1;
}
